.margin {
  width: 1200px;
  margin: 0 auto; }

html, body {
  background: #f5f5f5; }

#top {
  height: 32px;
  border: 1px solid #eee;
  background: #f5f5f5;
  text-align: center; }
  #top .t-left {
    float: left;
    line-height: 32px;
    font-size: 13px; }
  #top .t-left em {
    width: 117px;
    display: inline-block; }
  #top .t-left a {
    padding: 0 5px; }
  #top .t-left .login {
    margin-left: 10px;
    color: #ff666b; }
  #top .t-right {
    float: right; }
  #top .t-ul li {
    float: left;
    height: 32px;
    line-height: 32px;
    height: 32px;
    padding: 0 10px; }
  #top .t-ul li .menu1 {
    position: relative; }
  #top .t-ul li .menu1 .menu1-p {
    padding-right: 14px; }
  #top .t-ul li .menu1 b {
    background: url(../imgs/common_icon.png);
    position: absolute;
    right: 0px;
    top: 14px;
    display: inline-block;
    width: 11px;
    height: 11px;
    transition: .2s ease-in-out;
    vertical-align: -1px;
    background-position: 0 -80px; }
  #top .t-ul .mytaobao {
    position: relative;
    cursor: pointer; }
  #top .t-ul li .menu2 {
    position: absolute;
    left: 0;
    top: 33px;
    background: #f5f5f5;
    opacity: .99;
    z-index: 93110;
    border: solid #eee;
    border-width: 0 1px 1px;
    width: 74px;
    padding: 8px 10px;
    display: none; }
  #top .t-ul .menu2 .menu-hd {
    margin: 0;
    padding: 0; }
  #top .t-ul .menu2 .menu-hd a {
    display: block;
    font-size: 13px;
    line-height: 25px;
    text-align: left; }
  #top .t-ul .mystores {
    cursor: pointer; }
  #top .t-ul .mystores .kefu i {
    background: url(../imgs/common_icon.png);
    background-position: -292px -147px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -4px;
    display: inline-block; }
  #top .t-ul .mystore {
    padding-left: 10px; }
  #top .t-ul .mystore font {
    color: #ff666b; }

#top .person:hover .menu1 {
  border: solid #eee;
  border-width: 1px 1px 0; }

#top .person:hover .menu1 a {
  color: #ff666b; }

#top .person:hover .menu2 {
  display: block; }

#header {
  height: 90px;
  background: #fff;
  position: relative;
  z-index: 10000; }
  #header .main-logo {
    float: left;
    width: 350px;
    height: 56px;
    position: relative;
    margin-top: 8px; }
  #header .center {
    width: 510px;
    position: relative;
    z-index: 999;
    float: left;
    margin-left: 70px;
    margin-top: 15px;
    font: 13px/150% ""; }
    #header .center .ipt {
      width: 590px;
      height: 38px;
      border: 2px solid #ff666b;
      text-align: center;
      margin-bottom: 5px; }
      #header .center .ipt ul {
        float: left;
        height: 36px; }
        #header .center .ipt ul li {
          cursor: pointer;
          height: 36px;
          line-height: 36px;
          background-color: #f7f7f7;
          width: 47px;
          position: absolute;
          padding-left: 12px; }
          #header .center .ipt ul li i {
            background: url(../imgs/common_icon.png);
            background-position: 0px -80px;
            width: 12px;
            height: 8px;
            margin-left: 5px;
            display: inline-block; }
      #header .center .ipt #keyword {
        color: #999;
        background: #fff;
        margin: 0;
        position: relative;
        z-index: 2;
        width: 350px;
        height: 26px;
        line-height: 26px;
        padding: 5px 3px 5px 5px;
        outline: 0;
        border: 0; }
      #header .center .ipt #ipt2 {
        float: right;
        border: 0 none;
        width: 68px;
        height: 40px;
        background: #ff666b; }
    #header .center .hot-section span, #header .center .hot-section a {
      padding-right: 10px;
      margin-top: 6px;
      color: #999; }
    #header .center .hot-section a:hover {
      color: #ff666b; }
  #header .right {
    float: right;
    margin-top: 20px; }

#nav {
  height: 40px;
  width: 100%;
  border-bottom: 2px #ff666b solid;
  background: #fff; }
  #nav .allfl {
    height: 40px;
    position: relative;
    width: 210px;
    float: left; }
    #nav .allfl .allflspan {
      color: #fff;
      display: block;
      text-align: center;
      width: 210px;
      height: 40px;
      line-height: 40px;
      z-index: 9999;
      font-size: 16px;
      background: #ff666b; }
    #nav .allfl .all-cat {
      border-top: none;
      height: auto;
      width: 210px;
      position: relative;
      top: 40px;
      z-index: 9;
      left: 0px;
      position: absolute;
      top: 37px;
      background-color: #ff666b; }
      #nav .allfl .all-cat .list {
        height: 67.25px;
        display: none; }
        #nav .allfl .all-cat .list .cat {
          height: 67px;
          width: 210px;
          color: #fff;
          position: relative; }
          #nav .allfl .all-cat .list .cat .cat-name {
            height: 32px;
            line-height: 32px;
            overflow: hidden;
            position: absolute;
            font-weight: 700;
            font-size: 15px;
            padding: 0 10px 0px 15px;
            display: block; }
          #nav .allfl .all-cat .list .cat .cat-dd {
            position: absolute;
            padding: 35px 0 12px 5px;
            width: 200px;
            border-bottom: 1px dotted #e05a5e; }
            #nav .allfl .all-cat .list .cat .cat-dd a {
              color: #ffcccc;
              margin-left: 8px; }
    #nav .allfl .tit3 {
      width: 990px;
      height: auto !important;
      min-height: 394px;
      border: 1px solid #ff666b;
      display: none;
      position: absolute;
      top: 1px;
      left: 209px;
      background: #f9f9f9; }
      #nav .allfl .tit3 .itemfl {
        width: 735px;
        background: #fff;
        padding: 0px 0px 5px 0px;
        min-height: 394px;
        clear: both; }
        #nav .allfl .tit3 .itemfl dl {
          width: 46%;
          overflow: hidden;
          line-height: 2em;
          float: left;
          padding: 10px 0 0 0;
          margin-left: 20px;
          min-height: 150px; }
          #nav .allfl .tit3 .itemfl dl dt {
            position: relative;
            float: left;
            width: 100%;
            padding: 8px 30px 0 0;
            text-align: left;
            font-weight: 600;
            border-bottom: 1px #eaeaea dotted; }
          #nav .allfl .tit3 .itemfl dl dd {
            border-top: none;
            margin-left: -1px;
            font-size: 13px; }
            #nav .allfl .tit3 .itemfl dl dd a {
              float: left;
              padding: 0 8px;
              margin: 4px 0;
              line-height: 20px;
              height: 20px;
              border-left: 1px solid #e0e0e0;
              white-space: nowrap; }
  #nav .indexlist {
    line-height: 38px;
    text-align: center;
    padding: 0;
    height: 40px;
    width: 980px;
    position: relative;
    margin-left: 10px;
    overflow: hidden;
    float: left; }
    #nav .indexlist ul {
      display: block;
      width: 100%;
      height: 40px; }
      #nav .indexlist ul li {
        float: left; }
        #nav .indexlist ul li a {
          color: #3c3c3c;
          height: 38px;
          line-height: 38px;
          display: inline-block;
          text-decoration: none;
          font-size: 15px;
          padding: 0 20px; }
  #nav .indexlist ul li:hover a {
    color: #ff666b; }

#main {
  margin: 10px auto;
  line-height: 22px;
  font-size: 13px;
  color: #666; }
  #main .mtop {
    margin-bottom: 10px; }
    #main .mtop .index {
      float: left; }
    #main .mtop .m-arrow {
      padding: 0 10px;
      float: left; }
    #main .mtop .m-nav {
      float: left; }
  #main .product {
    background: #fff;
    height: 591px; }
    #main .product #preview {
      float: left; }
      #main .product #preview .pro {
        position: relative; }
        #main .product #preview .pro .sBox {
          width: 400px;
          position: relative;
          left: 0px;
          top: 0; }
        #main .product #preview .pro .span {
          background: rgba(200, 200, 200, 0.6);
          position: absolute;
          left: 0;
          top: 0; }
        #main .product #preview .pro .bBox {
          position: absolute;
          left: 400px;
          top: 0;
          width: 400px;
          height: 400px;
          overflow: hidden;
          display: none; }
          #main .product #preview .pro .bBox img {
            position: absolute;
            left: 400px;
            top: 0;
            width: 800px;
            height: 800px; }
        #main .product #preview .pro .gbottom {
          position: relative;
          padding: 15px 0 0 15px;
          height: 25px;
          line-height: 25px;
          clear: both;
          width: 400px; }
          #main .product #preview .pro .gbottom .fl {
            float: left; }
            #main .product #preview .pro .gbottom .fl span {
              float: left;
              margin-right: 5px;
              color: #999; }
        #main .product #preview .pro .fr {
          overflow: hidden;
          height: 25px;
          line-height: 25px;
          color: #999;
          margin-right: 10px;
          float: right; }
      #main .product #preview .goods-pic .gallery {
        width: 352px;
        margin-left: 40px;
        overflow: hidden; }
        #main .product #preview .goods-pic .gallery #demo1 ul li {
          float: left;
          width: 60px; }
          #main .product #preview .goods-pic .gallery #demo1 ul li img {
            width: 50px;
            height: 50px;
            display: block;
            border: 1px #eee solid; }
    #main .product .detail {
      float: left;
      width: 530px;
      padding: 12px 20px 0; }

#main .mtop a:hover {
  color: #ff666b; }
